{
	admin off
	auto_https off
}

:8080 {
	encode zstd gzip

	handle /healthz {
		respond "ok" 200
	}

	handle /api/auth/* {
		reverse_proxy auth:3000
	}

	handle /api/* {
		reverse_proxy gateway:8000 {
			flush_interval -1
		}
	}

	handle {
		reverse_proxy web:3000
	}
}
